body{
    background: #080808;
    color: #fff;
}
.header {
    position: relative;  
    text-align: center;  
    font-size: 50px;
    padding: 20px 0; 
}

.backbutton {
    position: absolute; 
    top: 10px; 
    left: 10px; 
    width: 100px;
    height: auto;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}



.grid-layout{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px 50px 50px;
    grid-template-areas: 
    "b y r "
    "b y r "
    "b y r ";

    text-align: center;
    font-size: 20px;
    align-items: center;
    justify-items: center;
    
}
.grid-layout a {
    color: white; 
    text-decoration: none; 
    font-weight: bold; 
}

.grid-layout a {
    position: relative;
    display: inline-block; 
    padding-bottom: 5px;
}

.grid-layout a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 3px;
    background: #ffb24e;
    transition: width 0.5s ease-in-out;
}

.grid-layout a:hover::after {
    width: 100%; 
}


/*inner negaative space= paddings / outer negative space= margins*/
.red{
    /*background-color: rgb(255, 61, 61);*/
    grid-area: r;
    padding: 15px;
    
}
.blue{
    /*background-color: rgb(138, 145, 220);*/
    grid-area: b;
    padding: 15px;
}
.yellow{
    /*background-color: rgb(255, 250, 162);*/
    grid-area: y;
    padding: 15px;
}


.croc-image {
    width: auto;
    max-width: 50%; /* Prevents overflow */
    height: auto;
    grid-column: span 3; /* Spans the entire width of the grid */
    grid-row: span 3; /* Spans the entire height of the grid */
    align-self: center; /* Centers it vertically within its grid cell */
    justify-self: center; /* Centers it horizontally within its grid cell */
}